#NET "clk"  LOC = "P77"
#NET "rst"  LOC = "P36"
NET "Port1<0>" LOC = "p161";#J3_25
NET "Port1<1>" LOC = "p160"; #J3_26
NET "Port1<2>" LOC = "p163"; #J3_27
NET "Port1<3>" LOC = "p162"; #J3_28
NET "Port0<7>" LOC = "p194"; #J3_25
NET "Port0<6>" LOC = "p195"; #J3_26
NET "Port0<5>" LOC = "p199"; #J3_27
NET "Port0<4>" LOC = "p200"; #J3_28
NET "Port0<3>" LOC = "p201"; #J3_29
NET "Port0<2>" LOC = "p202"; #J3_25
NET "Port0<1>" LOC = "p203"; #J3_26
NET "Port0<0>" LOC = "p204"; #J3_27
NET "LcdRS" LOC = "p153"; #J3_6
NET "LcdRW" LOC = "p151"; #J3_8
NET "LcdEN" LOC = "p149"; #J3_10
NET "LcdBus<0>" LOC = "p147"; #J3_25
NET "LcdBus<1>" LOC = "p146"; #J3_26
NET "LcdBus<2>" LOC = "p140"; #J3_27
NET "LcdBus<3>" LOC = "p139"; #J3_28
NET "LcdBus<4>" LOC = "p136"; #J3_29
NET "LcdBus<5>" LOC = "p134"; #J3_25
NET "LcdBus<6>" LOC = "p132"; #J3_26
NET "LcdBus<7>" LOC = "p127"; #J3_27
NET "LcdBK" LOC = "p125";
